<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Lib/Bootstrap/css/bootstrap.css" rel="stylesheet" />
    <title>Album Project</title>
</head>
<body>
    <main role="main">
        @RenderBody()
    </main>
    <footer class="border-top footer text-muted text-center">
        <div class="container">
            Copyright &copy; Bertoni Solution | Stenio Joseph @DateTime.Now.Year
        </div>
    </footer>
    <script src="~/Lib/Jquery/jquery.js"></script>
    <script src="~/Lib/Bootstrap/js/bootstrap.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>